# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Elpa
elpa/*

# History
transient/*

# Autocomplete
ac-comphist.dat

# Org-roam
.org-id-locations
org-roam.db

# customize
custom.el

# other data
network-security.data
server/*
bookmarks

# cache
.cache/*

# eshell
eshell/*

# eww
url/*

# others
.lsp-session-v1
projectile-bookmarks.eld
tramp

# pyim
pyim/*